DATABASE_URL="postgresql://USER:PASSWORD@HOST-pooler.REGION.aws.neon.tech/DB?sslmode=require&channel_binding=require"
DIRECT_URL="postgresql://USER:PASSWORD@HOST.REGION.aws.neon.tech/DB?sslmode=require&channel_binding=require"
BLOB_READ_WRITE_TOKEN=""
SYNCXML_ENCRYPTION_KEY=""
SYNCXML_FILE_ENCRYPTION_KEY=""
SYNCXML_ENABLE_PERSISTENT_STORAGE="false"
SYNCXML_LOCAL_DEMO="false"
NEXT_PUBLIC_APP_URL="http://localhost:3000"
SYNCXML_ADMIN_PASSWORD=""
SYNCXML_DISABLE_AUTH="false"
SESSION_SECRET=""
AUTH_URL="http://localhost:3000"
AUTH_TRUST_HOST="true"
ADMIN_EMAILS="antonio@anclora.com"
RESEND_API_KEY=""
RESEND_FROM_EMAIL="Anclora SyncXML <piloto@anclora.com>"
SYNCXML_PILOT_REQUEST_TO="antonio@anclora.com"
NEXUS_WEBHOOK_URL=""
NEXUS_INTERNAL_API_KEY=""
NODE_OPTIONS="--use-system-ca"
SYNCXML_SES_ENV="pre"
SYNCXML_SES_ENDPOINT=""
SYNCXML_SES_USERNAME=""
SYNCXML_SES_PASSWORD=""
SYNCXML_SES_LANDLORD_CODE=""
SYNCXML_SES_APPLICATION="Anclora SyncXML"
SYNCXML_SES_ALLOW_PRODUCTION_SEND="false"
SYNCXML_SES_ALLOW_INSECURE_TLS="false"
CRON_SECRET=""
